$primary-color-dark:   rgb(209, 2, 2);
$primary-color:        rgb(240, 94, 142);
$primary-color-light:  rgb(252, 179, 234);
$primary-color-text:   #FFFFFF;
$accent-color:         rgb(220, 223, 94);
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        rgb(153, 237, 248);

$font1: serif;
$font2: sans-serif;